<script type="text/javascript" src="~/Content/js/change-password.js"></script>
@{ 
    ViewBag.Page = "Change Password";
}

<div class="super_container">
	
	<!-- Home -->

	<div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(/Content/images/contact.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li>@Html.ActionLink("Home", "Index")</li>
                                        <li>Change Password</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<!-- Contact -->
	
	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-6 offset-xl-3 contact_col">
					<div class="get_in_touch">
						<div class="section_title">Change Password</div>
                        <p class="text-success">@ViewBag.Success</p>
						<div class="contact_form_container">
							<form action="ChangePassword" class="contact_form" onSubmit="return validatePassword()" method="post">
								<div>
									<!-- Old Password -->
									<label for="contact_company">Old Password</label>
									<input type="password" id="old_password" class="contact_input" name="oldpassword">
									<p class="text-danger" id="error-old-password">@ViewBag.Invalid</p>
								</div>
								<div>
									<!-- New Passwprd -->
									<label for="contact_company">New Password</label>
									<input type="password" id="new_password" class="contact_input" name="newpassword">
									<p class="text-danger" id="error-new-password"></p>
								</div>
								<div>
									<!-- Confirm Password -->
									<label for="contact_company">Confirm Password</label>
									<input type="password" id="confirm_password" class="contact_input">
									<p class="text-danger" id="error-confirm-password"></p>
								</div>
								<button class="button contact_button" type="submit" onClick="return validatePassword()"><span>Change</span></button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>


