@{
    ViewBag.Page = "Details";
}

<div class="super_container">

    <!-- Home -->
    <!-- Product Details -->

    <div class="product_details">
        <div class="container">
            <div class="row details_row">

                <!-- Product Image -->
                <div class="col-lg-6">
                    <div class="details_image">
                        @{
                            string imageName = "toy_" + Request.QueryString["toyID"] + ".jpg";
                        }
                        <div class="details_image_large"><img src="~/Content/images/@imageName" alt=""></div>

                    </div>
                </div>

                <!-- Product Content -->
                <div class="col-lg-6">
                    <div class="details_content">
                        <br>
                        <br>
                        <div class="details_name text-center">@Request.QueryString["name"]</div>

                        <div class="newsletter">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="newsletter_border"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="newsletter_content text-center">
                                            <h4>Tell us what do you think about this product</h4>
                                            <div class="newsletter_form_container">
                                                <form action="Feedback" id="newsletter_form" class="newsletter_form" method="post">
                                                    <input type="hidden" name="toyID" value="@Request.QueryString["toyID"]"/>
                                                    <input type="hidden" name="orderID" value="@Request.QueryString["orderID"]"/>
                                                    <textarea type="text" class="form-control" required="required" rows="5" name="content"></textarea>
                                                    <button class="newsletter_button trans_200"><span>Send</span></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
