@{ 
    ViewBag.Page = "Register";
}
<script src="~/Content/js/Register.js"></script>

<div class="super_container">
    <!-- Home -->

    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(/Content/images/contact.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li>@Html.ActionLink("Home", "Index")</li>
                                        <li>Register</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->

    <div class="contact">
        <div class="container">
            <div class="row">

                <!-- Get in touch -->
                <div class="col-lg-8 contact_col">
                    <div class="get_in_touch">
                        <div class="section_title">Welcome to Kiddy!</div>
                        <p class="text-success">@ViewBag.Success</p>
                        <div class="contact_form_container">
                            <form action="Register" id="contact_form" class="contact_form"  method="post" onsubmit="return (myValidate())" >
                                <div>
                                    <label for="confirm">Email*</label>
                                    <input type="text" name="username" id="email" class="contact_input" placeholder="Example@gmail.com" />
                                    <p id="emailValidate" class="validateP">@ViewBag.Duplicate</p>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!-- Name -->
                                        <label for="register_name">First Name*</label>
                                        <input type="text" name="firstname" id="first_name" class="contact_input">
                                        <p id="fNameValidate" class="validateP"></p>
                                    </div>
                                    <div class="col-xl-6 last_name_col">
                                        <!-- Last Name -->
                                        <label for="register_last_name">Last Name*</label>
                                        <input type="text" name="lastname" id="last_name" class="contact_input">
                                        <p id="lastNameValidate" class="validateP"></p>
                                    </div>
                                </div>
                                <div>
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" class="contact_input" />
                                    <p id="passwordValidate" class="validateP"></p>
                                </div>
                                <div>
                                    <label for="confirm">Confirm password:</label>
                                    <input type="password" id="confirm" class="contact_input" />
                                    <p id="confirmValidate" class="validateP"></p>
                                </div>
                                <p class="text-danger">@ViewBag.Fail</p>
                                <button type="submit" class="button contact_button" ><span>Create account</span></button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-3 offset-xl-1 contact_col">
                    <div class="contact_info">
                        <div class="contact_info_section">
                            <div class="contact_info_title">Marketing</div>
                            <ul>
                                <li>Phone: <span>+53 345 7953 3245</span></li>
                                <li>Email: <span>yourmail@gmail.com</span></li>
                            </ul>
                        </div>
                        <div class="contact_info_section">
                            <div class="contact_info_title">Shippiing & Returns</div>
                            <ul>
                                <li>Phone: <span>+53 345 7953 3245</span></li>
                                <li>Email: <span>yourmail@gmail.com</span></li>
                            </ul>
                        </div>
                        <div class="contact_info_section">
                            <div class="contact_info_title">Information</div>
                            <ul>
                                <li>Phone: <span>+53 345 7953 3245</span></li>
                                <li>Email: <span>yourmail@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row map_row">
                <div class="col">

                    <!-- Google Map -->
                    <div class="map">
                        <div id="google_map" class="google_map">
                            <div class="map_container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
